# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Environment & Credentials
.env
.env.*
*.pem
*.key

# Cloudflare / Wrangler
.wrangler/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Node / Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
